* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --after-content: "2";
}

body {
  width: 100vw;
}

header {
  background-color: aqua;
  height: 10vh;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}

.main-heading {
  position: absolute;
  width: 100%;
  margin: auto;
  height: 100%;
}

.cart {
  position: absolute;
  left: 75%;
  width: 20%;
  /* border: 1px solid rebeccapurple; */
  top: 25%;
}

h1 {
  font-size: 300%;
}

p {
  margin: 10px;
}

.cart-icon {
  text-align: right;
  font-size: x-large;
}

.cart-heading {
  text-align: center;
  padding: 10px 15px;
  font-size: x-large;
}

.cart-elements {
  text-align: left;
  overflow-y: auto;
  max-height: 350px;
}

.subtotal {
  text-align: right;
  margin: 5%;
}

.cart-item {
  display: grid;
  grid-template-columns: 10fr 1fr;
  padding: 5% 2%;
  border-bottom: solid 1px lightslategray;
}

.cart-item .item-price,
.cart-item .item-quantity {
  display: block;
  text-align: right;
  margin-top: 5%;
}

.cart-item .item-name {
  font-size: x-large;
}

.dropdown-window {
  border: 1px solid black;
  border-top: none;
  position: fixed;
  top: 10vh;
  width: 20%;
  background-color: white;
}

.hide {
  display: none;
}

.non-empty::after {
  content: var(--after-content);
  font-size: 15px;
  width: 15px;
  display: inline-block;
  text-align: center;
  position: relative;
  background-color: red;
  border-radius: 50%;
  top: -15px;
  right: 20%;
  padding: 2px;
}

.product-page-elements {
  position: relative;
  top: 10vh;
  /* z-index: -1; */
  margin-left: 10px;
}

.product-page-item {
  margin: 20px 0;
}

.product-item-name {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 10px;
}

.product-details {
  width: 15%;
}

.product-item-quantity,
.product-item-price {
  text-align: center;
  margin: 10px;
}

.add-to-cart-btn {
  width: fit-content;
  padding: 10px 15px;
  cursor: pointer;
  background-color: brown;
  border-radius: 5px;
  color: #fff;
}

.shopping-section {
}

.product-item-quantity {
  display: inline-block;
}
